hiddens{
    visibility: hidden;
}
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .scroll-button:hover {
    background-color: #f0f0f0;
  }
  
  .scroll-button:first-child {
    margin-right: 10px;
  }
  .project{
    padding-top: 10em;
  }
  .public{
    background-color: black;
    color: white;
    margin-left: 3em;
    border-radius: 109px;
    width: 10em;
    border: none;
    outline: none;
    

  }
  