.music{
    padding-top: 15em;
};

.footer-heading{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.peace{
    margin-bottom: 30px;
}
.musics{
    padding-bottom: 3em;
}