.music{
    padding-top: 12em;
};
.menu{
    margin-bottom: 30px;

}
.footer-heading{
    font-size: 30px;
    color: blue;
    font-weight: 700;
    margin-bottom: 30px;
}
.peace{
    margin-bottom: 30px;
}